$size: 306px; // cube length

body {
    text-align: center;
    padding: 50px;
}
.scene {
    display: inline-block;
    margin-top: 50px;
    width: $size;
    height: $size;
    text-align: center;
    perspective: 1000px;
}
.cube {
    transition: all 0.85s cubic-bezier(0.175,0.885,0.320,1.275);
    transition-duration: 2s;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(-15deg) rotateY(45deg);
}
.cube-face {
    width: inherit;
    height: inherit;
    position: absolute;
    background: red;
    opacity: 0.9;
    display: flex;
    flex-flow: row wrap;
}
// faces
.cube-face-front {
    background: yellow;
    transform: translate3d(0, 0, $size/2);
}
.cube-face-back {
    background: orange;
    transform: rotateY(180deg) translate3d(0, 0, $size/2);
}
.cube-face-left {
    background: green;
    transform: rotateY(-90deg) translate3d(0, 0, $size/2);
}
.cube-face-right {
    background: white;
    transform: rotateY(90deg) translate3d(0, 0, $size/2);
}
.cube-face-top {
    background: blue;
    transform: rotateX(90deg) translate3d(0, 0, $size/2);
}
.cube-face-bottom {
    background: red;
    transform: rotateX(-90deg) translate3d(0, 0, $size/2);
}


.face__box {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}


/* Buttons */
.randomise {
    position: absolute;
    top: 30px;
}
.complete {
    position: absolute;
    top: 50px;
}
/* Square color classes */
.blue-square {
    background-color: blue;
}

.green-square {
    background-color: green;
}

.yellow-square {
    background-color: yellow;
}

.red-square {
    background-color: red;
}

.white-square {
    background-color: white;
}

.orange-square {
    background-color: orange;
}