.scene
    .cube
        .cube-face.cube-face-front
            -for(var i=0; i<9; i++)
            .face__box
        .cube-face.cube-face-back
            -for(var i=0; i<9; i++)
            .face__box
        .cube-face.cube-face-left
            -for(var i=0; i<9; i++)
            .face__box
        .cube-face.cube-face-right
            -for(var i=0; i<9; i++)
            .face__box
        .cube-face.cube-face-top
            -for(var i=0; i<9; i++)
            .face__box
        .cube-face.cube-face-bottom
            -for(var i=0; i<9; i++)
            .face__box
button.randomise Randomiser
button.complete Complete Cube