.cube__instructions READY? BLINDFOLDS ON!!!
.cube__container
    .scene
        .cube
            .cube-face.cube-face-front
                -for(var i=0; i<9; i++)
                    .face__box
            .cube-face.cube-face-back
                -for(var i=0; i<9; i++)
                    .face__box
            .cube-face.cube-face-left
                -for(var i=0; i<9; i++)
                    .face__box
            .cube-face.cube-face-right
                -for(var i=0; i<9; i++)
                    .face__box
            .cube-face.cube-face-top
                -for(var i=0; i<9; i++)
                    .face__box
            .cube-face.cube-face-bottom
                -for(var i=0; i<9; i++)
                    .face__box
.cube__buttons
    button.cube__nextMove
        span Next Move
    button.cube__complete
        span Complete Cube